# Auto detect text files and perform LF normalization
* text=auto
git lfs track "*.bmp"
ATEFF[[:space:]]-[[:space:]]A[[:space:]]World[[:space:]]Like[[:space:]]Any[[:space:]]Other/map/provinces.bmp filter=lfs diff=lfs merge=lfs -text
